/* ------- Image Text ------- */

.container-fluid {
    position: relative;
}

.carousel-caption {
    color: whitesmoke;
    position: absolute;
    top: 9%;
    text-shadow: 1.5px 1.5px #808080;
}

/* ------- Map Section ------- */

div#map {
    min-height: 500px;
}

/* ------- Media Queries ------- */

@media screen and (max-width: 350px) {
    #main-text {
        font-size: 33px;
    }
}

@media screen and (max-width: 350px) {
    #image-text {
        font-size: 31px;
    }
}

/* ------- Footer ------- */

.social-links {
    max-width: 100%;
    height: auto;
    text-align: center;

}

.social-links li a i {
    font-size: 30px;
    color: #000000;
    padding: 30px 10px 0px 10px;
}

.social-links a i:hover {
    color: #0d5eaf;
}
