/* ------- Image Text ------- */

.container-fluid {
    position: relative;
}

.carousel-caption {
    color: whitesmoke;
    position: absolute;
    top: 9%;
    text-shadow: 1.5px 1.5px #808080;
}

div#map {min-height: 500px;}

/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 

/*.social-links {
    max-width: 100%;
    height: auto;
}

.social-links li a i {
    font-size: 30px;
    color: #000000;
    padding: 30px 20px 0px 10px;
}

.social-links a i:hover {
    color: #7A7A7A;
}