/* ------- Image Text ------- */

.container-fluid {
    position: relative;
}

.carousel-caption {
    color: whitesmoke;
    position: absolute;
    top: 9%;
    text-shadow: 1.5px 1.5px #808080;
}

#map {
min-height:360px
}
